
# CMake files
build
build_*
CMakeFiles/
CMakeCache.txt
Makefile 
cmake_install.cmake
Testing/

# ESP-IDF
sdkconfig
sdkconfig.old

*.log


*.swp
a.out
CMakeCache
a.out
*.o
*.a


# debugging files
gdb*
gamestate.ini
final-gamestate.ini
*.log
debug-cores/


suite_2.c

# cpp check
*cppcheck-build-dir
*.cppcheck

# Visual Studio Code
.vscode
.vs
.devcontainer
.ipynb*

# Output csv files for unit testing
output*.csv

